.button
        {

        -fx-border-style:bevel;
        -fx-background-color : #FFF;
        -fx-border-color: #355ECE;
        -fx-text-fill:  #0C3988;
        -fx-border-width:5;
        }
        .button:hover
        {
        -fx-border-style:bevel;
        -fx-border-width:5;
        -fx-background-color : #f0e68c ;
        -fx-border-color: #355ECE;
        -fx-text-fill:  #000000;
        -fx-font-weight:bolder;
        }
        .button:pressed
        {
        -fx-background-color :  #7cfc00 ;
        -fx-text-fill: #FFF;
        }
.label
 {
        -fx-border-style:bevel;
        -fx-background-color : #FFF;
        -fx-border-color: #d2691e;
        -fx-text-fill:  #7cfc00;
        -fx-border-width:3;
        }
.textfield{
-fx-background-radius: 0;
}

